@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');
:root{
	--makeInvert: invert(0);
}
.dark-mode{
	--makeInvert: invert(1);
}

.logo-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:auto 0vw;
}
.wrapper{
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.logo-container >img {
	height: 1.4em;
	padding:3px;
	filter: var(--makeInvert);
}

.middle-container .intro a{
	text-decoration: none;
}
.education-info{
	display: grid;
	grid-template-columns: 0.5fr 1fr;
}
.project .project-info{
	
	display: grid;
	grid-template-columns: 0.3fr 1fr;
}

.resume{
	font-size: 1.2vw;
}

