@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');
*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Be Vietnam Pro', sans-serif;
}
body {
    overflow-x: hidden;
    text-align: center;
    width:100vw;
	background-color: var(--backgroundColor);
}
/*   ## Dark Mode Mechanism  ## */
:root {
	--makeInvert: invert(0);
    --backgroundColor: rgb(223, 222, 222);
    --cardColor: rgb(229, 230, 232);
    --smallColor:#1b1b1b;
    --white:rgb(231,231,231);;
    --top-containerColor:hsla(203, 49%, 39%, 0.5) ;
    --cloudColor:rgb(211, 247, 245);
    --bigParaColor: #5c8edd;
    --middleColor:rgba(233, 162, 197, 0.5);
    --boxShadow:#122e37;
    --navHead:rgb(167, 249, 247);
    --navText:#060708;
    --barColor:#363a3c;
    --linkColor:#0077b5;
    --gradientColor:linear-gradient(to bottom, #5c61ae80, rgba(142, 185, 223, 0.5));
    --navColor:#2C2A59;
	--itemColor: rgba(255, 255, 255, 0.81);  
	--textColor: #007bff;
}
.dark-mode{
    --backgroundColor: rgb(40,39,50);
    --navColor:#543153;
    --top-containerColor:rgb(53 51 73);
	--cardColor: rgb(12 9 49);
    --smallColor:white;
    --white:rgb(40,39,50);
	--itemColor: var(--white);
    --middleColor:var(--top-containerColor);
    --skillUl:white;
	--makeInvert: invert(1);
    --boxShadow:white;
    --navHead: var(--backgroundColor);
    --linkColor: var(--bigParaColor);
    --gradientColor: var(--backgroundColor);
    --barColor:#ffffff;
    --navText:#fff;
}

/* left come = hidden1*/
 .hidden1{
    filter: blur(2px);
    transform :translate(-30%);
    transition :all 1.1s;
}
.hidden2{
    filter: blur(2px);
    transform :translate(+20%);
    transition :all 1.1s;
} 
.hidden3{
	filter: blur(2px);
    transform :translate(-25%);
    transition :all 1.1s;
} 

.show1{
    filter: blur(0);
    transform :translate(0);
}
.show2{
    filter: blur(0);
    transform :translate(0) ;
}
.show3{
    filter: blur(0);
    transform :translate(0) ;
}


/* Wrapper  */
.logo-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:auto 0vw;
}
.wrapper{
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.logo-container >img {
	height: 1.6em;
	padding:3px;
	filter: var(--makeInvert);
}
/*  ##  Navigation  ## */
.navigation{
	background: hsl(0 0% 100% /0.1 ) ;
	width: 95%;
	margin-top: 10px;
	margin-left: 2%;
	backdrop-filter: blur(1rem);
    position: absolute;
    top:0vh;
    padding: 0.5vw 2vw;
	border-radius: 40px;
    z-index: 9;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* hide started */
.hide_div{
    display: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	position:fixed;
}

.hide_div span{    
    color:var(--navText);
}
.hide_div a{
    text-decoration: none;
}
/* Hide ended  */

.navigation ul li{
    display:inline-block;
    padding:0.7vw 3.5vw 0.7vw 1vw;    
}
.navigation ul li a{
    font-size: 1.7vw;
    font-weight: 600;
    text-decoration:none;
    color:var(--navText);  
}

.navigation .nav-icon{
    margin-right:15px;
    /* color: #008073; */
}
.navigation ul li i#sun{
    margin-left: 5vw;
	transition: all 1s ease-in;
}

.navigation ul li i.fa-solid{
   font-size:1.8vw ;
}
.navigation ul li i#moon{
    margin:0.3vw 0 0.3vw 3.6vw;
    position: relative;
    left:2vw;
    color:var(--navText);   
	transition: all 1s ease-in;
}

/* */
.navigation ul li a:hover ,.navigation ul li#light i:hover {
    background: linear-gradient(to right,#ce47b8,
					#ff6b08, #2bb7c9, #91ad2a);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    cursor: pointer;
}

.navigation li#light{
    padding:5px;
	list-style: none;
	width : 5.5vw;
    color:var(--navText);
    height: 3vw;
    overflow: hidden;
    display: inline-flex;
	justify-content: space-between;
    align-content: center;
    border-radius: 35px; 
    overflow: hidden;
    border:1px solid var(--navText); 
    margin: auto;
	position :relative;
	right:-8vw;
	font-size: 2vw;
	transition: all 1s ease-in;
}

/* Top Container */
.top-container{
    font-size: 2.6vw;
    padding: 13vw 0px 0px 0px;
	background: url('../Images/background.jpg');
	filter: blur(0.3px);
	background-size: 100%;
	min-height: 50vw ;
	font-family: 'Open Sans', sans-serif;
	font-weight:900;
	color: #a5ffe1;
}
.top-container h1{
	line-height: 1.30;
    font-family: 'Dancing Script', cursive;
	color:#a5ffe1;
}
.auto-type{
	color:white;
	font-size: 2.6vw;
}
/* //Student image added */

.top-container{
	display: flex;
}
.left{
	min-width: 70vw;
}






/* middle-container */
.middle-container{
    background-color: var(--white);
}

.middle-container img{
    height:16vw;
    width:16vw;
    background: none;
}
.middle-container .project img {
    width: 10vw; 
    height: 13vw;
}
.middle-container, .bottom-container{
    padding:2.5vw 12vw;  
}

.middle-container .intro a{
	text-decoration: none;
}
.hirebtn{
	background-color: #e84949;
	margin-top:2vw;
	padding:0.8vw 2.1vw;
	color:white;
	border: none;
	font-weight: 500;
	font-size: 1.7vw;
	box-shadow: 6px 6px 8px 0px #0000003f;
	position: relative;
	cursor: pointer;
	z-index: 2;
}

.hirebtn::before{
	content:'';
	background-color: #060708;
	position: absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	z-index: -1;
	transform: scaleX(0);
	transform-origin:left;
	transition: transform 0.6s;
}
.hirebtn:hover::before{
	transform: scaleX(1);
}

/* middle-container -> intro */
.intro{
    background:  linear-gradient(to bottom, #5c61ae80, rgba(219, 228, 236, 0.5))
     ,url("../Images/bg-intro-img.jpg") no-repeat ;
    background-size: cover; 
}
.intro img{
    padding:0vw 0vw 0.5vw 0vw;
}
.intro p{
    color:#f5f5f5bb;
    padding:1vw 5vw 0vw 5vw;
    line-height: 1.5;
    font-weight: 600;
    background: none;
	font-size: 1.6vw;
}
span.resume{
	font-size: 1.4vw;
	padding: 0;
	display: inline;
	color:var(--textColor);
}

.intro i.fa-brands{
    font-size: 2.3vw;
    border-radius: 50%;
    padding:0.9vw;
    margin-right:0vw; 
}
.intro i.linkedin{  
	background-color: #0077b5;
	color: white;
}
.intro i.linkedin:hover{
	color: #0077b5;
	background-color: white;
}
.intro i.github{
	color:white;
	background-color:black;
}
.intro i.github:hover{
	color:black;
	background-color:white;
}
.intro button{
    border-style: none;
    padding:0.6vw;
	margin-top:1.5vw;
    background: none; 
}
.intro button a{
  background:none; 
}

/* middle-container -> education */
.education img{
    float: left;   
}
.education-info{
	display: grid;
	grid-template-columns: 0.5fr 1fr;
}


/*  middle-container ->skill  */
hr {   
    width:90%;
    margin:1vw auto 0vw;
    border:1px solid rgba(144, 195, 191, 0.3);
}

/*middle-container-> skill ->detail
  middle-container-> project ->detail
*/
.detail{   
     text-align: left; 
     line-height: 1.4;
} 

.skill .detail{
    margin:0px auto;   
}

.detail h3.tech ,.detail h3.non-tech{
    font-weight: 600;
	text-align: center;
	/* text-decoration: underline; */
    font-size: 2.6vw;
    /* width: 85%; */
    letter-spacing: 0.05;
    font-weight: 1000;
    margin:0vw auto;
    color:#5cdddd;
}
.detail .item h4{
       margin:0vw 0vw 0vw 2.5vw;
       padding-top:1vw;
}


/* .middle-container -> .skill -> .detail -> .items */
.detail .item{
    width:60vw;
    margin:1vw auto;
    border-radius: 6px;
    background-color:  var(--itemColor);
	margin-bottom: 3vw;
}
.skill .detail .item img{
    height:7vw;
    width: 7vw;
    margin-bottom: 0vw;
    clear: left;

}
.skill .detail .item .caption{
    width:12vw;
}
.detail .item p{
  font-weight: 500;
  font-size: 1.5vw;
  margin-top:0.2vw;
  clear: both;
}
.detail .item .col{
    display: inline-block;
    padding:2vw 2vw;
    text-align: center;
}
.detail .item .row{
    padding:2vw;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}
/* Developing blog card  ---------------------------------------------*/
.skill .detail .item .card{
	width: 20vw;
	margin:0vw 1vw;
	background-color: var(--cardColor);
	border-radius: 3px;
}
.card-body ,.card-footer{
	padding:1vw;
}
.card-body{
	min-height: 23vw;
}
.skill .card h3{
	font-size: 1.5vw;
	margin: 0px 0px;
}
.detail .item .card p{
	font-size: 1.3vw;
	letter-spacing: 0px;
}
.tag{
	display: flex;
	text-align: center;
	margin:0 auto;
	width: 10vw;
	background-color: #0077b5;
	padding: 0.5vw 1vw;
	border-radius: 4px;
	justify-content: center;
	position: relative;
	top:-3vw;
}
.skill .detail .item .card img{
	width: 20vw;
	height: 12vw;
	border-radius: 3px;
}

.card-footer{
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
svg{
	width: 20px;
	height: 20px;
	padding-top:8px;
	fill:var(--smallColor);
}

.skill .detail .item .card .card-footer img{
    height: 4vw;
	width: 4vw;
	padding: 0.3vw;
	border-radius: 50%;
}
.photo{
	display: flex;
	gap:6px;
}
.skill a{
	text-decoration: none;
	color:var(--textColor);
}
.skill .card-body a >h3{
	margin:-1vw 0vw 1vw 0vw;
 }



/* .middle-container -> .project */
.certificate .container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.certificate .container img{
	height: 35vw;
	width : 45vw;
}
.certificate1 ,.certificate2,.certificate3{
	overflow: hidden;
	margin:20px;
}
.certificate .container img:hover{
    scale:1.2;
	transition: scale 0.4s;
}
.project .detail ul {
    list-style-type: none;
    font-family: 'Alegreya', serif;
}
.project .project-info{	
	display: grid;
	grid-template-columns: 0.3fr 1fr;
}
/*  .middle-container -> .certificate  */
.certificate img{
    height:50vw;
    width:50vw;
}

/*  .middle-container -> .contact  */

.contact .detail{
   margin:0vw auto;
   font-family: 'Alegreya', serif;
}
.contact .detail i.fa{

	font-size: 2.7vw;
	margin:1vw 3.5vw 1vw 0vw;
	border:1px solid grey;
	padding:1vw;
	background-color: rgb(179, 177, 177);
	border-radius:50%;
}
.contact .detail i.fa:hover{
	box-shadow: 3px 3px 6px grey;
}
.contact-desc{
	display: inline;
}

.contact .detail img{
    height: 2.8vw;
    width: 2.8vw;
}

/* Label designing //  .contact ->.detail -> span */
.contact .detail .contact-item > span {
     color:rgb(219, 211, 211);
     font-size: 1.5vw;
     font-weight: 600;
     border-radius: 1vw;
     border:1px solid black;
     padding:0.3vw 0.8vw;
     background-color: rgb(107, 125, 120);   
}
.contact .detail span p{
    display: inline-block;
    background: none;
}
.contact .detail a:hover{
    color:rgb(193, 95, 60);
}

/* common box of skill  */
.intro , .education ,.skill ,.project ,.certificate ,.contact{
    background-color: var(--top-containerColor);
	backdrop-filter: blur(2rem);
    border-radius:10px;
    width: 75vw;
    display: inline-block;
    padding:5vw;
    margin: 5vw 0vw;    
	overflow: hidden;
}   
.project img{
    float: left;
    padding:0px;
    margin:0px;
    box-shadow: none;
}
/* Common of h3 ,h4 & p */
.education h3,.skill > h3, .bottom-container h3 ,.project h3 , .certificate h3, .contact h3{
    font-size:2.8vw;
    padding:10px;
    color: #5cdddd;
    background-color: hsl(45 3% 10% /0.4 ) ;   
    margin-bottom: 3vw;
    text-align: center;
}

.bottom-container h3{
    color:#1279c3;
    margin-bottom: 2vw;
    letter-spacing: 3px;  
}
.education .detail h4 ,.skill h4 ,.project h4 ,.certificate h4{
    font-size:1.90vw;
    color: rgba(35, 129, 191, 0.7);
}
.education .detail .percentage{
	margin-left: 1vw;
}

.project h4{
    font-weight: 800;
    margin-bottom: 1vw;
}
.contact .detail a ,.project h4 a{
    font-size: 2.4vw; 
    font-weight: 600;
    text-decoration: none;
	display: inline;
	color: var(--textColor);
}

.project h4 a:hover{
    text-decoration: underline;
}
.education .detail p,.skill p ,.project .detail p,.bottom-container p{
    font-size:1.8vw;
    margin: 0.2vh;
    letter-spacing: 0.5px;
    color:var(--smallColor);  
}

.bottom-container p{
    font-size:2.2vw;
    background: linear-gradient(to right,#f32170,
					#ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 600;
    font-family: monospace;
    letter-spacing: -1px;
}
.bottom-container p{
    width:50vw;
    margin:1vw auto;
}

/* bottom-container */
.bottom-container{

    padding:8vw 12vw 8vw 12vw;
    line-height: 1.6;
    background:  var(--gradientColor)
    ,url("../Images/bottom-bg.jpg") no-repeat;
     background-size: cover;
}

.bottom-container h3#mar-bottom{
    margin-bottom: 1.2vw;
}
.bottom-container h3{
    background-color: transparent;
    word-spacing: 10px;
    letter-spacing: 1px;
    margin: 1vw;
    padding:0;
    border:1px solid blue;
    box-shadow: 2px 2px 6px rgb(182, 209, 177);
}

.bottom-container .link{
    margin: 20px 0px 0px 0px;
    font-size: 3vw;

}
.bottom-container .link .linkedin{
    color:	#0077b5;
}
.bottom-container .link .insta{
    color:rgb(216, 24, 101);
}
.bottom-container .link .twitter{
    color:#00acee;
}
.bottom-container .link .facebook{
    color:	#3b5998;
}
.bottom-container .link a .fa-brands:hover{
    /* box-shadow:1px 1px  #00acee; */
    box-shadow: 4px 3px 4px #488093;
    font-size: 3vw;
    padding:2px;
    border:1.1px solid #48a9c9;
    border-radius: 2px;
    
}
.bottom-container p{
    padding:4vw 2vw 2vw 2vw;
}

/* footer */
.footer{
   
    padding: 1vw;
    font-family: monospace;
    font-size: 1.4vw;
    color:rgb(188, 215, 236);
    background:  linear-gradient(to bottom, #5c61ae80, rgba(142, 185, 223, 0.5))
    ,url("../Images/bg-intro-img.jpg") no-repeat ;
    background-size: cover; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer img{
    bottom: 0px;
    height:2vw;
    width:2vw;
    background: none;
}
.footer p{
    margin-left: 1vw;
    background: none;
}
/* other code from getbutton */
#gb-widget-6051 ,.sc-1s18q3d-0{
    background: none;
}

#cross{
    display: none;
}

/*    %%%%%%%%%%%%%%%%%%%%%%%%%%%   MEDIA SCREEN FOR MOBILE PHONES   %%%%%%%%%%%%%%%%%%%%%% */
@media screen and ( max-width: 600px){
    .top-container{
		background-size: cover;
		padding-top:20vw;
		min-height: 70vw;
	}
	.top-container h1{
		font-size: 7.8vw;
	}
    .top-container p ,.top-container span {
        font-size: 5vw;
		font-weight: 700;
    }
	.certificate .container img{
		height: 35vh;
		width : 68vw;
		margin: 0.6vw;
	}
	.middle-container img ,.middle-container .project img{
		height: 25vw;
		padding:2vw;
		width: 25vw;
	}
	.middle-container .intro  span.resume{
		font-size: 3vw;
		padding:0;
		margin-bottom: 1vw;
	}
	.middle-container .intro  p{
	  font-size: 4vw;
	  padding:2.5vw 2.5vw 0vw 2.5vw;
	  font-weight: bolder;
	}
	
	.middle-container i.fa-brands{
		font-size: 5.4vw;
	}
    .middle-container{
        padding:4.2vh 4.2vw;
    }
    .project img {
        height: 15vw;
        margin-left: 5vw;
        width: 5vw;
    }
    .middle-container img.coding {
        padding:0;
    }
   
    .education .detail p,.project .detail p{
        line-height: 1.1;
    }
	.detail h3.tech , .detail h3.non-tech{
		font-weight: 600;
		font-size:3.6vw;
	}
    .education h3, .skill h3 ,.project h3,.bottom-container h3,.certificate h3,.contact h3{
        font-size: 5vw;
        margin-bottom: 4.5vw;
        letter-spacing: 1px;
        padding:1vw;
    }
    .detail .item{
        padding:3vw;
        margin:0vw auto;
		margin-bottom: 4vw;
		width: auto;
    }
    .bottom-container h3 {
        letter-spacing: 2px;
        font-size: 3.8vw;
		padding:0vw 5vw;
		margin:2vw;
    }
	


    .education .detail p, span ,.skill p ,.project .detail p ,.bottom-container p{
        margin-top: 0vh;
        font-size:3.3vw;
        font-weight: 500;
        letter-spacing: 0.3px;
    }
	.name{
		font-size:4.4vw;
		font-weight: bolder;

	}
    .bottom-container p{
        font-size:3.8vw;
    }
    .intro , .education ,.skill  ,.certificate ,.contact ,.project{
               width:90vw;
        
    }

    .certificate img{
        height :85vw;
        width: 70vw;
    }
    .middle-container li:nth-child() {
        font-size:3.3vw;
    }
    .education .detail h4 ,.skill h4 {
        font-size:3.6vw;
    }
    .project h4{
        font-size:3.5vw;
    }
    .bottom-container{
        margin-top:2.5vh;
    }
    
    .bottom-container p{
        width:75vw;
    }
    .bottom-container .link{
        margin: 15px 0px 0px 0px;
        font-size: 6.4vw;
    }
    .bottom-container .button ,.bottom-container .button:visited{
        font-size: 3vw;
    }
    .contact .detail i.fa{
        font-size: 4.2vw;
        padding:1.5vw;
		margin: 2vw;
    }
    .contact .detail p img{
        height:3.5vw;
        width:3.5vw;
        /* padding:1.2vw; */
    }
    .contact .detail .contact-item a{
        font-size: 2.5vw; 
    }
    
	.skill .detail .item .card img {
		width: 30vw;
		height: 30vw;
	}
	.skill .detail .card .card-body{
		min-height: 17vh;
	}
    .skill .detail .item .card {
      width: 30vw;
	}
	.skill .card h3{
		font-size: 2vw;
		letter-spacing: 0px;
	}
	.detail .item .card p{
		font-size: 2vw;
	}
	.tag{
		top:-7vw;
		width: 12vw;
	}
	svg{
		padding-top:0px;
	}
	.skill .card .card-body a >h3{
		margin-top:-6vw
	}

    /* Previous was another media query */

    .hide_div{
        background-color: hsla(251, 82%, 31%, 0.13);
		backdrop-filter: blur(1rem);
        width:100%;
		height: 6.5vh;
        padding:1vw 1vw 1vw 1vw ;
        position:absolute;
        z-index: 9;
        top:0px;
		
		display: flex;
		justify-content: start;
		align-items: center;
		gap:4vw;
    }
  
    
    .hide_div #bar-head{
        font-size: 4.4vw;
        padding-top:1vw;
        color:var(--navText);
        letter-spacing: 0.2;
		text-align: center;
    }

    #cross{
        width:fit-content;
        color: #0ca091;
        font-size: 5.8vw;
        margin:1vw 0vw 4vw 0.5vw;
        left:4vw;
        text-shadow: 2.5px 2.5px 2.5px #000;
        z-index: 40;
        top:2vw;
        position: fixed;
        display: none;
    }
	.navigation{
		background: none;
		border:0;
		margin-top: 0px;
	}
    
    .navigation-main{
		
        position: absolute;
		top: 6.5vh;
		left:-2vh;
		transform: translateX(-65vw);
		transition: transform 350ms ease-in;
    }
	.primary-navigation{
		transition: transform 300ms ease-in;
	}
	.primary-navigation[data-visible='true']{
		transform: translateX(65vw);
	}

	.navigation ul{
		width:60vw;		
		height: 93.5vh;
		padding-top: 23vh;
		padding-left: 3vh;
		background-color: hsla(210, 28%, 25%, 0.8);
		backdrop-filter: blur(3rem);
	}
	.navigation ul li{
		display: block;
		padding:2vw 1vw 5vw 0vw;
		margin: 1vw;   
		margin-left: 3vw;
		text-align: left;
		margin-left:4vw;
	}

	.navigation ul li a ,.navigation ul li i.fa-solid {
		font-size: 3.8vw;
        color: #eceaf1;
        font-weight: 600;
    } 
	.navigation  li#light{
        display: block;
        visibility: visible;
        list-style: none;
        padding:3px 5px ;
        width: 9vw;
        border-radius: 4vw; 

        outline: var(--navText);
        position : fixed;
        top:1.5vw;
        right:4vw;
		z-index: 345;
		height: 4.5vw;
		font-size: 2.8vw;
		margin-top:10px;
    } 
    .navigation .nav-icon{
        display:inline;
    }
    
    .hide_div .button{
        width:fit-content;
    }

    .skill .detail .item img{
        height: 13vw;
        width: 13vw;
    }
   
    .detail .item p{
       font-size: 2.8vw;
       font-weight: 500;
    }
    .footer{
        padding: 6px;
        font-size: 2.2vw;
    }
	.footer img{
		height: 3.3vw;
		width: 3.3vw;
	}

	.mobile-nav-toggle{

		background: url(../Images/bar.png);
		border:0;
		z-index: 99999;
		background-size: cover;
		width: 5vw;
		aspect-ratio: 1/1;
		margin:0.5vw 0vw 0.5vw 4vw;
		filter:var(--makeInvert);
	}
	.mobile-nav-toggle[aria-expanded='true']{
		background: url(../Images/cross.png);
		background-size: cover;
		filter:var(--makeInvert);
	}
	.fa-bars{
        color:var(--navText);
        font-size: 5vw;         
    } 
}


